* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif;
  color: #fff;
}

body {
  background-color: #1e213a;
}

body img {
  user-select: none;
  -webkit-user-drag: none;
}

a {
  text-decoration: none !important;
}
